<main class="game mode-default">
	<h2>Команда 1</h2>
	<ul v-for="hero in teamOne">
		<li>
			<span>{{ hero.name }}</span>
		</li>
	</ul>
	<h2>Команда 2</h2>
	<ul v-for="">
		<li></li>
	</ul>
</main>
