<main class="centered">
	<form ref="form" method="post" action="/hero/create" v-on:submit.prevent>
		<label>
			<span>Имя героя</span>
			<input type="text" v-model="form.name"/>
		</label>
		<label>
			<span>Класс</span>
			<select v-model="form.class">
				<option value="gladiator">Гладиатор</option>
				<option value="maroder">Мародёр</option>
				<option value="fanatik">Фанатик</option>
			</select>
		</label>
		<label>
			<input @click="create" type="submit" value="Создать"/>
		</label>
	</form>
</main>