<main class="centered">
	<form class="centered">
		<div>{{ name }}</div>
		<div>Всего {{ heroes.length }} / {{ $root.heroes_limit }}</div>
		<router-link v-if="heroes.length < $root.heroes_limit" to="/hero/create">Создать героя</router-link>
		<p v-else>Больше героев<br/>создавать нельзя!</p>
	</form>
</main>
