<main class="centered">
	<form class="centered">
		<p>Добро пожаловать, <span class="nowrap">{{ $root.name }}</span></p>
		<router-link to="/logout">Выход</router-link>
		<ul>
			<li v-for="hero in heroes">
				<a @click="select(hero)" href="#">{{ hero.name }} {{ hero.class }} [{{ hero.level }}]</a>
			</li>
		</ul>
		<div>Всего {{ heroes.length }} / {{ $root.heroes_limit }}</div>
		<router-link v-if="heroes.length < $root.heroes_limit" to="/hero/create">Создать героя</router-link>
		<p v-else>Больше героев<br/>создавать нельзя!</p>		
	</form>
</main>
