<main class="lobby">
	<ul v-for="battle in open_battles">
		<li>
			<header>Битва №{{ battle.id }}</header>
			<div class="side one">
				{{ battle.heroes | heroes }}
				<button v-if="$root.battle == null" @click="join(battle.id)">Присоединиться</button>
				<button v-if="$root.battle && $root.battle.status == 1 && $root.battle.id == battle.id" @click="leave(battle.id)">Покинуть</button>
			</div>
		</li>
	</ul>
	<div>
		<button v-if="$root.battle == null" @click="create">Создать</button>
	</div>
</main>
