<main class="centered">
	<form v-on:submit.prevent>
		<label>Логин:<input type="text" v-model="form.login"/></label>
		<label>Пароль:<input type="password" v-model="form.password"/></label>
		<label><input @click="submit" type="submit" value="Вход"/></label>
		<label><router-link to="/register ">Регистрация</router-link></label>
	</form>
</main>
