﻿<form ref="form" method="post" action="/register" v-on:submit.prevent>
	<label>Идентификатор сессии:<input style="background-color: lightgray; border: 0;" readonly type="text" name="identifier"/></label>
	<label>Имя:<input type="text" name="name"/></label>
	<label>Логин:<input type="text" name="login"/></label>
	<label>Почта:<input type="text" name="email"/></label>
	<label>Пароль:<input type="password" name="password"/></label>
	<label><img id="captcha" src=""/>Капча:<input type="text" name="token"/></label>
	<label><input @click="submit" type="submit" value="Регистрация"/></label>
</form>