﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8"/>
	<title>SEREBOROD</title>
	<script src="libs/jquery.js"></script>
	<script src="libs/vue.js"></script>
	<script src="libs/vue-router.js"></script>
	<script src="libs/store.js"></script>
	<script src="libs/notify.js"></script>
	<script src="libs/socket.io.js"></script>
	<link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div id="app">
	<header>
		<div class="title">SEREBOROD</div>
		<h1>{{ title }}</h1>
		<div v-if="hero">
			<span>{{ hero.name }}</span>
			<span>{{ hero.level }}</span>
			<span>{{ hero.experience }}</span>
			<router-link to="/settings"><img src="/media/settings.png"/></router-link>
		</div>
	</header>
	<router-view></router-view>
</div>
<script src="controllers.js"></script>
<script src="templates.js"></script>
<script src="routes.js"></script>
<script src="application.js"></script>
<script src="directives.js"></script>
<script src="components.js"></script>
<script src="postinit.js"></script>
</body>
</html>
