html, body, #app {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  font-family: "Courier"; }

header {
  height: 60px;
  border: 2px outset #e1d264;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: whitesmoke; }
  header .title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px; }
  header h1 {
    font-weight: bold; }

main {
  height: calc(100% - 60px);
  background-color: beige; }
  main.centered {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  main.lobby {
    padding: 50px; }

form {
  margin: 0 auto;
  width: 250px; }
  form.centered {
    display: flex;
    flex-direction: column;
    align-items: center; }
  form p {
    text-align: center; }

ul {
  list-style: none;
  padding: 0; }

label, input, img {
  display: block; }

label {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

input {
  width: 55%; }

label > input[type=text], label > input[type=password] {
  display: block;
  background-color: #f8f8f1;
  border-style: solid; }

label > input[type=submit] {
  margin-top: 10px; }

button, input[type=submit] {
  background-color: #e1d264;
  color: white;
  padding: 5px 0;
  width: 120px;
  font-family: Arial;
  font-size: 14px; }

.nowrap {
  white-space: nowrap; }
